altair
asgiref
attrs
Babel
bcrypt
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
distlib
dnspython
docx
docx2pdf
docxtpl
et-xmlfile
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-PyMongo
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
lxml
mammoth
MarkupSafe
pymongo
python-docx
requests
six
soupsieve
SQLAlchemy
urllib3
Werkzeug
WTForms
pywin32==224

